/.cask
/.hive-maint
/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/elpa
/elpa-*
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/thumbs/
/emms/
/image-dired/
/eshell
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/magithub
.cache/
/forge-database.sqlite
/code-review-db-file.sqlite
/transient
/eln-cache/
/server
/devdocs
flycheck_init.el
/places