[borg]
	pushDefault = Eason0210
	collective = emacsd
[submodule "a"]
	path = lib/a
	url = git@github.com:plexus/a.el.git
[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "anzu"]
	path = lib/anzu
	url = git@github.com:emacsorphanage/anzu.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
	info-path = docs
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "cape"]
	path = lib/cape
	url = git@github.com:minad/cape.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "cmake-mode"]
	path = lib/cmake-mode
	url = git@github.com:emacsmirror/cmake-mode.git
[submodule "code-review"]
	path = lib/code-review
	url = git@github.com:wandersoncferreira/code-review.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
	branch = main
[submodule "consult-flycheck"]
	path = lib/consult-flycheck
	url = git@github.com:minad/consult-flycheck.git
	branch = main
[submodule "consult-yasnippet"]
	path = lib/consult-yasnippet
	url = git@github.com:mohkale/consult-yasnippet.git
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
[submodule "crontab-mode"]
	path = lib/crontab-mode
	url = git@github.com:emacs-pe/crontab-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-byte-compile = dash-functional.el
	no-makeinfo = dash-template.texi
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "diredfl"]
	path = lib/diredfl
	url = git@github.com:purcell/diredfl.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "emacsql-libsqlite3"]
	path = lib/emacsql-libsqlite3
	url = git@github.com:emacscollective/emacsql-libsqlite3.git
	branch = main
[submodule "emacsql-sqlite3"]
	path = lib/emacsql-sqlite3
	url = git@github.com:cireu/emacsql-sqlite3.git
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "emojify"]
	path = lib/emojify
	url = git@github.com:iqbalansari/emacs-emojify.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
	info-path = docs
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-color-mode-line"]
	path = lib/flycheck-color-mode-line
	url = git@github.com:flycheck/flycheck-color-mode-line.git
[submodule "flycheck-package"]
	path = lib/flycheck-package
	url = git@github.com:purcell/flycheck-package.git
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = git@github.com:d12frosted/flyspell-correct.git
	no-byte-compile = flyspell-correct-avy-menu.el
	no-byte-compile = flyspell-correct-helm.el
	no-byte-compile = flyspell-correct-ido.el
	no-byte-compile = flyspell-correct-ivy.el
	no-byte-compile = flyspell-correct-popup.el
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
	info-path = docs
[submodule "fullframe"]
	path = lib/fullframe
	url = git@github.com:emacsmirror/fullframe.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
	info-path = docs
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@gitlab.com:pidu/git-timemachine.git
[submodule "go-translate"]
	path = lib/go-translate
	url = git@github.com:lorniu/go-translate.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
	info-path = doc
[submodule "highlight-escape-sequences"]
	path = lib/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "highlight-quoted"]
	path = lib/highlight-quoted
	url = git@github.com:Fanael/highlight-quoted.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "ibuffer-vc"]
	path = lib/ibuffer-vc
	url = git@github.com:purcell/ibuffer-vc.git
[submodule "immortal-scratch"]
	path = lib/immortal-scratch
	url = git@github.com:jpkotta/immortal-scratch.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "lua-mode"]
	path = lib/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	no-byte-compile = lisp/magit-libgit.el
	recursive-byte-compile = true
	info-path = docs
[submodule "magit-todos"]
	path = lib/magit-todos
	url = git@github.com:alphapapa/magit-todos.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
	branch = main
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "mmm-mode"]
	path = lib/mmm-mode
	url = git@github.com:purcell/mmm-mode.git
[submodule "mode-line-bell"]
	path = lib/mode-line-bell
	url = git@github.com:purcell/mode-line-bell.git
[submodule "modern-cpp-font-lock"]
	path = lib/modern-cpp-font-lock
	url = git@github.com:ludwigpacifici/modern-cpp-font-lock.git
[submodule "move-dup"]
	path = lib/move-dup
	url = git@github.com:wyuenho/move-dup.git
[submodule "mscl-mode"]
	path = lib/mscl-mode
	url = git@github.com:Eason0210/mscl-mode.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "nix-mode"]
	path = lib/nix-mode
	url = git@github.com:NixOS/nix-mode.git
[submodule "nixpkgs-fmt"]
	path = lib/nixpkgs-fmt
	url = git@github.com:purcell/emacs-nixpkgs-fmt.git
[submodule "ns-auto-titlebar"]
	path = lib/ns-auto-titlebar
	url = git@github.com:purcell/ns-auto-titlebar.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
	info-path = doc
[submodule "origami"]
	path = lib/origami
	url = git@github.com:gregsexton/origami.el.git
[submodule "package-lint"]
	path = lib/package-lint
	url = git@github.com:purcell/package-lint.git
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = git@github.com:joddie/pcre2el.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:emacsorphanage/pkg-info.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "quickrun"]
	path = lib/quickrun
	url = git@github.com:emacsorphanage/quickrun.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "reformatter"]
	path = lib/reformatter
	url = git@github.com:purcell/emacs-reformatter.git
[submodule "rust-mode"]
	path = lib/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "scratch"]
	path = lib/scratch
	url = git@github.com:ieure/scratch-el.git
[submodule "session"]
	path = lib/session
	url = git@github.com:emacsorphanage/session.git
[submodule "shift-number"]
	path = lib/shift-number
	url = git@github.com:alezost/shift-number.el.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "sis"]
	path = lib/sis
	url = git@github.com:laishulu/emacs-smart-input-source.git
[submodule "skewer-less"]
	path = lib/skewer-less
	url = git@github.com:purcell/skewer-less.git
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = git@github.com:skeeto/skewer-mode.git
[submodule "sqlite3"]
	path = lib/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "sudo-edit"]
	path = lib/sudo-edit
	url = git@github.com:nflath/sudo-edit.git
[submodule "super-save"]
	path = lib/super-save
	url = git@github.com:bbatsov/super-save.git
[submodule "switch-window"]
	path = lib/switch-window
	url = git@github.com:dimitri/switch-window.git
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = git@github.com:wolray/symbol-overlay.git
[submodule "textile-mode"]
	path = lib/textile-mode
	url = git@github.com:juba/textile-mode.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = git@gitlab.com:tsc25/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "uuidgen"]
	path = lib/uuidgen
	url = git@github.com:kanru/uuidgen-el.git
[submodule "valign"]
	path = lib/valign
	url = git@github.com:casouri/valign.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
	branch = main
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
	branch = main
[submodule "vlf"]
	path = lib/vlf
	url = git@github.com:m00natic/vlfi.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "whole-line-or-region"]
	path = lib/whole-line-or-region
	url = git@github.com:purcell/whole-line-or-region.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
	info-path = docs
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = git@github.com:joostkremers/writeroom-mode.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = git@github.com:atomontage/xterm-color.git
[submodule "yaml"]
	path = lib/yaml
	url = git@github.com:zkry/yaml.el.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
